<?xml version="1.0"?>
<config>
    <modules>
        <Karadata_Persiandate>
            <version>0.1.0</version>
        </Karadata_Persiandate>
    </modules> 
    <frontend>
        <routers>
            <persiandate>
                <use>standard</use>
                <args>
                    <module>Karadata_Persiandate</module>
                    <frontName>persiandate</frontName>
                </args>
            </persiandate>
        </routers>
     
        
        <layout>
            <updates>
                <persiandate>
                    <file>karadata_persiandate.xml</file>
                </persiandate>
            </updates>
        </layout>
    </frontend> 
    <adminhtml>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <persiandate_core_block_abstract_to_html_after>
                        <class>Karadata_Persiandate/Observer</class>
                        <method>beforeHtmlEcho</method>
                    </persiandate_core_block_abstract_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>
                
            <controller_action_predispatch>
                <observers>
                    <controller_action_before>
                        <class>Karadata_Persiandate/Observer</class>
                        <method>preDispatch</method>
                    </controller_action_before>
                </observers>
            </controller_action_predispatch>
        </events>
        <layout>
            <updates>
                <persiandate>
                    <file>karadata_persiandate.xml</file>
                </persiandate>
            </updates>
        </layout>
    </adminhtml>
    <global>   
        <models>
            <Karadata_Persiandate>
                <class>Karadata_Persiandate_Model</class>
            </Karadata_Persiandate>
        </models>    
        <blocks>
            <adminhtml>
                <rewrite>
                    <widget_grid_column_renderer_datetime>Karadata_Persiandate_Block_Adminhtml_Widget_Grid_Column_Renderer_Datetime</widget_grid_column_renderer_datetime>                    
                </rewrite>
                <rewrite>
                    <widget_grid_column_renderer_date>Karadata_Persiandate_Block_Adminhtml_Widget_Grid_Column_Renderer_Date</widget_grid_column_renderer_date>                    
                </rewrite>
                <!--                for dates shown in column in sales reports-->
                <rewrite>
                    <report_sales_grid_column_renderer_date>Karadata_Persiandate_Block_Adminhtml_Report_Sales_Grid_Column_Renderer_Date</report_sales_grid_column_renderer_date>                    
                </rewrite>         
            </adminhtml>
        </blocks>
        <helpers>
            <core>
                <rewrite>
                    <data>Karadata_Persiandate_Helper_Data</data>
                </rewrite>
            </core>
        </helpers>
    </global>
</config>